{{define  "content"}}
    <br/>
    <div class="text-center">
        <h1 class="text-light">VERiiF</h1>
        <h2 class="text-light">Instantly verify certifications</h2>

        <br/>
        <div class="alert bg-transparent-black">
            <br/>
            <form enctype="multipart/form-data" method="post">
                <div class="input-group input-group-lg">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="uploadfile" name="uploadfile">
                        <label class="custom-file-label" for="uploadfile">Choose certificate</label>
                    </div>
                </div>

                <br/>
                <div class="row">
                    <div class="offset-2 col-8">
                        <input class="btn btn-tiiqu btn-lg btn-block" type="submit" value="Verify" />
                    </div>
                </div>

            </form>
            <br/>
        </div>
    </div>
{{end}}

{{ define "js" }}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>
        $('.custom-file-input').on('change', function() {
            let fileName = $(this).val().split('\\').pop();
            $(this).next('.custom-file-label').addClass("selected").html(fileName);
        });
    </script>

    <script src="../js/three.r92.min.js"></script>
    <script src="../js/vanta.waves.min.js"></script>
    <script>
        VANTA.WAVES({
            el: "body",
            color: 0x101010,
            shininess: 6.00
        });
    </script>
{{ end}}